# Python
.venv/
__pycache__/
*.pyc
.env

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties

# Database (optional – comment if you WANT db)
*.db

# OS
.DS_Store
Thumbs.db
